---
layout: default
title: Home
sitemap:
  changefreq: weekly
---

<div class="posts">
    {% for post in paginator.posts %}

        {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}

        <div class="post">
            <h1 class="post-title">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="post-date">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                    {% when '1' %}Sty
                    {% when '2' %}Lut
                    {% when '3' %}Mar
                    {% when '4' %}Kwi
                    {% when '5' %}Maj
                    {% when '6' %}Cze
                    {% when '7' %}Lip
                    {% when '8' %}Sie
                    {% when '9' %}Wrz
                    {% when '10' %}Paź
                    {% when '11' %}Lis
                    {% when '12' %}Gru
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </p>

            <p>kategoria: {{ post.category }}</p>

            <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">komentarze</a>

            {% if readtime <= '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. czytania

            {% if post.img %}
                <a href="{{ post.url }}" class="post-img" style="background-img: url(/assets/img/post-img/{{ post.img }});">
                    <img src="/assets/img/post-img/{{ post.img }}" alt="{{ post.title }}" />
                </a>
            {% else %}
                {% comment %}<a href="{{ post.url }}" class="post-img no-img">
                    <img src="/assets/img/post-img/no-img.gif" alt="{{ post.title }}" />
                </a>{% endcomment %}
            {% endif %}

            <p class="post-excerpt">{{ post.excerpt | strip_html }} [&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">Czytaj dalej</a>&nbsp;]</p>
        </div>
    {% endfor %}
</div>


<div class="pagination">
    {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Starsze</a>
    {% else %}
        <span class="pagination-item older">Starsze</span>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="{{ site.baseurl }}/">Nowsze</a>
        {% else %}
            <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Nowsze</a>
        {% endif %}
    {% else %}
        <span class="pagination-item newer">Nowsze</span>
    {% endif %}
</div>
