---
layout: default
title: Home
sitemap:
  changefreq: weekly
---

<div class="posts">
    {% for post in paginator.posts %}

        {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}

        <article class="post">
            <h1 class="post-title">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post-meta">
                <span class="icon-calendar"></span>
                <time pubdate datetime="{{ post.date }}" class="post-date">
                    {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                        {% when '1' %}Sty
                        {% when '2' %}Lut
                        {% when '3' %}Mar
                        {% when '4' %}Kwi
                        {% when '5' %}Maj
                        {% when '6' %}Cze
                        {% when '7' %}Lip
                        {% when '8' %}Sie
                        {% when '9' %}Wrz
                        {% when '10' %}Paź
                        {% when '11' %}Lis
                        {% when '12' %}Gru
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                </time>

                {% if post.category %}<span class="icon-tag"></span><span>{{ post.category }}</span>{% endif %}

                <span class="icon-comment-empty"></span><a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">komentarze</a>

                <span class="icon-clock"></span>{% if readtime <= '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. czytania
            </div>

            {% if post.img %}
                <a href="{{ post.url }}" class="post-img" style="background-img: url(/assets/img/post-img/{{ post.img }});">
                    <img src="/assets/img/post-img/{{ post.img }}" alt="{{ post.title }}" />
                </a>
            {% else %}
                {% comment %}<a href="{{ post.url }}" class="post-img no-img">
                    <img src="/assets/img/post-img/no-img.gif" alt="{{ post.title }}" />
                </a>{% endcomment %}
            {% endif %}

            <p class="post-excerpt">{{ post.excerpt | strip_html }} [&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">Czytaj dalej</a>&nbsp;]</p>
        </article>
    {% endfor %}
</div>

<ul class="pagination col-xs-12">
{% if paginator.next_page %}
    <li><a class="pagination-item older col-xs-6 text-center" href="{{ site.baseurl }}/page{{paginator.next_page}}">Starsze</a></li>
{% else %}
    <li><a href="#"><span class="pagination-item older col-xs-6 text-center">Starsze</span></a></li>
{% endif %}
{% if paginator.previous_page %}
    {% if paginator.page == 2 %}
        <li><a class="pagination-item newer col-xs-6 text-center" href="{{ site.baseurl }}/">Nowsze</a></li>
    {% else %}
        <li><a class="pagination-item newer col-xs-6 text-center" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Nowsze</a></li>
    {% endif %}
{% else %}
    <li class="disabled"><a href="#" class="col-xs-6 text-center"><span class="pagination-item newer">Nowsze</span></a></li>
{% endif %}
</ul>
