---
layout: default
title: Home
sitemap:
  changefreq: weekly
---

<div class="posts">
    {% for post in paginator.posts %}
    {% capture readtime %}{{ post.content | number_of_words | divided_by:180 }}{% endcapture %}
        <div class="post">
            <h1 class="post-title">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="post-date">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                    {% when '1' %}Sty
                    {% when '2' %}Lut
                    {% when '3' %}Mar
                    {% when '4' %}Kwi
                    {% when '5' %}Maj
                    {% when '6' %}Cze
                    {% when '7' %}Lip
                    {% when '8' %}Sie
                    {% when '9' %}Wrz
                    {% when '10' %}Paź
                    {% when '11' %}Lis
                    {% when '12' %}Gru
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </p>

            <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">komentarze</a>
            {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. czytania

            <p class="post-excerpt">{{ post.excerpt | strip_html }} (<a href="{{ site.baseurl }}{{ post.url }}">Read More</a>)</p>
        </div>
    {% endfor %}
</div>


<div class="pagination">
    {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
    {% else %}
        <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
        {% else %}
            <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
        {% endif %}
    {% else %}
        <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
