{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<nav class="nav-primary" role="navigation">
    <ul>
        <li><a {% if location == 'about' %}class="active" {% endif %}href="{{ site.baseurl }}/about/">O mnie</a></li>
        <li><a {% if location == 'archive' %}class="active" {% endif %}href="{{ site.baseurl }}/archive/">Archiwum</a></li>
        <li><a {% if location == 'atom' %}class="active" {% endif %}href="{{ site.baseurl }}/feed.atom">Subskrypcja</a></li>
    </ul>
</nav>

<aside>
    <h2>Kategorie</h2>
    {% comment %}
    {% for tag in site.categories %}
        {{ tag[0] }} ({{ tag | last | size }})
    {% endfor %}
    {% endcomment %}

    <ul class="tag-box inline">
        {% assign tags_list = site.categories %}  
            {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                    <li><a href="{{ site.baseurl }}/categories/#{{ tag }}">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
                {% endfor %}
            {% else %}
                {% for tag in tags_list %} 
                    <li><a href="{{ site.baseurl }}/categories/#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
                {% endfor %}
            {% endif %}
        {% assign tags_list = nil %}
    </ul>
</aside>
