// imports
@import "compass";
@import "bootstrap";

body { 
    padding-top: 60px; /* navbar 50px */ 
}

.navbar {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

main .post {
    overflow: hidden;
}