// imports
@import "compass";
@import "bootstrap";
@import "fonts";

body { 
    padding-top: 60px; /* navbar 50px */
}

.navbar {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

main .post {
    overflow: hidden;
}

// Compass Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;


body h1 {
    @include adjust-font-size-to(48px);
}

.highlight {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $well-bg;
    border: 1px solid $well-border;
    border-radius: $border-radius-base;
    border-color: darken($well-bg, 10%);
    pre {
        margin: 0;
    }
    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }
}

.pagination {
    float: none;
    padding-right: 0;
}