
{% include head.html %}

<body>

    <div class="container content">
        <div class="masthead">
            <h3 class="masthead-title">
                <a href="/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>

        {{ content }}

        <h2>Recent Posts</h2>
        <ul>
            {% for post in site.posts do %}  
            <li> {{ post.date }} <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="footer">
            <p>
                &copy; {{ site.time | date: '%Y' }}. All rights reserved.
            </p>
        </div>
    </div>

{% include nav.html %}

</body>

{% include foot.html %}
