
{% include head.html %}

<body>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&appId=1496957360540222&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

    <div class="container content">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                        <small>{{ site.tagline }}</small>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% include nav.html %}
                </div>
            </div>
        </nav>

        <aside>
            <h2>Kategorie</h2>
            {% comment %}
            {% for tag in site.categories %}
                {{ tag[0] }} ({{ tag | last | size }})
            {% endfor %}
            {% endcomment %}

            <ul class="tag-box inline">
                {% assign tags_list = site.categories %}  
                    {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %} 
                            <li><a href="{{ site.baseurl }}/categories/#{{ tag }}">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
                        {% endfor %}
                    {% else %}
                        {% for tag in tags_list %} 
                            <li><a href="{{ site.baseurl }}/categories/#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
                        {% endfor %}
                    {% endif %}
                {% assign tags_list = nil %}
            </ul>
        </aside>

        {{ content }}

        <div class="footer">
            <p>
                &copy; {{ site.time | date: '%Y' }}. All rights reserved.
            </p>
        </div>        
    </div>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>

    <script type="text/javascript">
        var disqus_shortname  = 'zdolny',
            disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
            disqus_url        = '{{ site.url }}{{ page.url | uri_escape }}';

        if (document.getElementById('disqus_thread')){
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        };


        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</body>

{% include foot.html %}
